name: Move issue after PR merge

on:
  pull_request:
    types: [closed]

jobs:
  test-transition-issue:
    name: Transition Issue
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true
    steps:
      - name: Login
        uses: atlassian/gajira-login@master
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}

      - name: Find Jira ticket
        uses: atlassian/gajira-find-issue-key@master
        id: jira-ticket
        with:
          string: ${{ github.event.pull_request.title }}

      - name: Transition issue
        if: steps.jira-ticket.outputs.issue != ''
        uses: atlassian/gajira-transition@master
        with:
          issue: ${{ steps.jira-ticket.outputs.issue }}
          transition: "Done"
